@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* === Global Styles and Reset === */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #333;
  padding: 15px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-logo {
  font-size: 15px;
  color: #10a37f;
}

.navbar ul {
  list-style: none;
  gap: 25px;
  display: flex;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: var(--tran-03);
}

.navbar ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #10a37f;
  transition: var(--tran-03);
}

.navbar ul li a::hover {
  color: #10a37f;
}

.navbar ul li a::hover::before {
  width: 100%;
}
