.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input {
  padding: 7px 15px;
  border-radius: 25px;
  border: 1px solid var(--highlight-color);
  outline: none;
  font-size: 17px;
  margin-right: 10px;
  width: 150px;
  background-color: #222;
  color: #fff;
  transition: var(--tran-03);
}

.navbar-search input:focus {
  width: 200px;
  background-color: #111;
}

.navbar-search button {
  font-size: 17px;
  padding: 7px 15px;
  background-color: var(--highlight-color);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--tran-03);
}

.navbar-search button:hover {
  background-color: #088c6e;
}
